.Counter{
  align-text: center;
  padding-top: 10%;
}

.Counter-button {
  margin:auto;
  display:table;
  padding:16px 32px;
  font-family:helvetica;
  font-size:16px;
  font-weight:100;
  color:#fff;
  background: #587286;
  border:0;
  font-weight:100;
}
